*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}
.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	padding: 40px 0;
	top: 0;
	z-index: 999;
	transition: .3s linear;
}
.inner-width{
	max-width: 1300px;
	margin: auto;
	padding: 0 40px;
	height: 100%;
	}
	.navbar .inner-width{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo{
		width: 44px;
		height: 27px;
		background-image: url(logo.jpg);
		background-size: contain;
	}
	.menu-toggler{
		background: none;
		width: 30px;
		border: none;
		cursor: pointer;
		position: relative;
		outline: none;
		z-index: 999;
		display: none;
	}
	.menu-toggler span{
		display: block;
		height: 3px;
		background-color: #fff;
		margin: 6px 0;
		position: relative;
		transition: .3s linear;
	}
	.navbar-menu a{
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		margin-left: 30px;
		transition: .2s linear;
	}
	.navbar-menu a:hover{
		color: #00ff00 !important;
	}
	.sticky{
		background-color: #fff;
		padding: 18px 0;
	}
	.sticky .logo{
		background-image: url(manluo.png);
	}
	.sticky .navbar-menu a{
		color: #111;
	}
	.sticky .menu-toggler span{
		background-color: #111111;
	}
	#home{
		height: 150vh;
		min-height: 500px;
		background:url(bd.jpg) no-repeat center;
		background-size: cover;
		background-attachment:fixed ;
	}
	#home .inner-width{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
	}
	#home .content{
		width: 100%;
	}
	#home .content h1{
		font-size: 60px;
		margin-bottom: 60;
	}
	#home .content h1::after{
		content: "你好，我是李碧拓";
		color: #FFFFFF;
		animation: textanim 10s linear infinite;
	}
	@keyframes textanim{
		25%{
			content: "来自数科192";
		}
		50%{
			content: "学号是201919304230";
		}
		75%{
			content: "欢迎来到我的主页";
		}
	}
	.sm a{
		color: #fff;
		font-size: 22px;
		margin: 0 10px;
		transition: .2s linear;
	}
	.sm a:hover{
		color: aqua;
	}
	#home .buttons{
		margin-top: 60px;
	}
	#home .buttons a{
		display: inline-block;
		margin: 15px 30px;
		color: #00FFFF;
		font-size: 15px;
		font-weight: 500;
		width: 180px;
		border: 1px solid;
		padding: 14px 0;
		border-radius: 6px;
		transition: .2s linear;
	}
	#home .buttons a:hover,
	#home .buttons a:nth-child(2)
	{
		background-color: #00FFFF;
		color: #FFFFFF;
	}
	@media screen and (max-width: 1500px){
		.menu-toggler{
			display: block;
		}
		.navbar-menu{
			position: fixed;
			height: 100vh;
			width: 100%;
			background-color: #0055ff;
			top: 0;
			right: 0;
			max-width: 300px;
			padding: 80px 50px;
			transition: .3s linear;
		}
		.navbar-menu a{
			display: block;
			font-size: 30px;
			margin: 30px 0;
		}
		.sticky .navbar-menu{
			background-color: #FFFFFF;
		}
		.navbar-menu.active{
			right: 0;
		}
		.menu-toggler.active span:nth-child(1){
			transform: rotate(-45deg);
			top: 4px;
		}
		.menu-toggler.active span:nth-child(2){
			opacity: 0;
		}
		.menu-toggler.active span:nth-child(3){
			transform: rotate(-45deg);
			bottom: 14px;
		}
	}
	
	
